@using EntityLayer.Concrete
@model List<Message>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>İletişim ve Mesajlar</title>
</head>
<body class="hold-transition sidebar-mini">
    <br />
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("MessageListMenu", "Contact")
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-warning card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Gelen Mesajlar</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Mail Ara ?">
                                    <div class="input-group-append">
                                        <div class="btn btn-warning">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover">
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" value="" id="check1">
                                                        <label for="check1"></label>
                                                    </div>
                                                </td>
                                                <td class="mailbox-name text-left"><a href="/Message/GetInboxMessageDetail/@item.MessageID" style="color: #ffc107;">@item.SenderMail</a></td>
                                                <td class="mailbox-subject"><b>@item.Subject</b> - @item.MessageContent</td>
                                                <td class="mailbox-attachment"></td>
                                                <td class="mailbox-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                                <td class="mailbox-star text-right"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-warning btn-sm checkbox-toggle">
                                    <i class="far fa-square"></i>
                                </button>
                                <div class="btn-group ml-2 mr-2">
                                    <button type="button" class="btn btn-warning btn-sm"><i class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-reply"></i></button>
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-share"></i></button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-sync-alt"></i></button>
                                <div class="float-right">
                                    <label>1-50/200</label>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning btn-sm ml-2"><i class="fas fa-chevron-left"></i></button>
                                        <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.float-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>
</body>
</html>

